html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f1c0e840;
  display: flex;
  flex-direction: column;
  width: 100vw;
  box-sizing: border-box;
  min-height: 100vh;
}

main {
  padding: 2em;
  padding-bottom: 6em;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sign-in {
  width: 100%;
  display: flex;
  gap: 2em;
}

.sign-in .submit {
  background: #cfbaf0;
  border-radius: 8px;
  border: 1px solid #f1c0e8;
  color: #fbf8cc;
  flex: 1;
  padding: 16px;
}

.sign-in .text-field {
  flex: 2;
}

.text-field {
  color: #fbf8cc;
}

.send {
  color: #9966eb;
  display: flex;
  position: fixed;
  bottom: 2em;
  left: 2em;
  right: 2em;
  gap: 2em;
}

.send .button {
  flex: 1;
}

.send .text-field {
  flex: 2;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin: 0;
  padding: 0;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

li {
  border-radius: 8px;
  border: 1px solid #ffcfd2;
  list-style: none;
  padding: 0.5em;
  background: #fbf8ccb9;
  color: #c4a9f0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

li.mine {
  align-self: flex-end;
  background: rgb(245, 248, 252);
}

.msg {
  font-size: x-large;
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2em;
  color: #f8b3b8;
}

.msg-info strong {
  color: #a3c4f3;
}

em {
  font-size: small;
}
