html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(90deg, #6fd5f7, #aeeab4af, #fdc8f3);
  display: flex;
  flex-direction: column;
  width: 100vw;
  box-sizing: border-box;
  min-height: 100vh;
}

main {
  padding: 2em;
  padding-bottom: 6em;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sign-in {
  width: 100%;
  display: flex;
  gap: 2em;
  padding-bottom: 2em;
}

.MuiFormLabel-root {
  color: #241d52;
}

.MuiButtonBase-root {
  background-color: #241d52;
  color: #fce0eb;
}


.MuiInputBase-root:after {
  border-bottom: 2px solid #241d52;
  color: #241d52;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #241d52;
}

.MuiInput-input {
  flex: 1;
  color: #241d52;
}

.sign-in .text-field {
  flex: 2;
}

.text-field {
  color: #fbf8cc;
}

.send {
  color: #9966eb;
  display: flex;
  position: fixed;
  bottom: 2em;
  left: 2em;
  right: 2em;
  gap: 2em;
}

.send .button {
  flex: 1;
}

.send .text-field {
  flex: 2;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 0;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

li {
  border-radius: 8px;
  border: 2px solid #241d52;
  list-style: none;
  padding: 0.5em;
  background: #7feef8;
  color: #241d52;
  /* text-shadow: -1px -1px 0 #a478ea, 1px -1px 0 #a478ea, -1px 1px 0 #a478ea, 1px 1px 0 #a478ea; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

li.mine {
  align-self: flex-end;
  background: #98f5e1;
}

.msg {
  font-size: x-large;
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2em;
  color: #cfbaf0;
}

.msg-info strong {
  color: #fce0eb;
  text-shadow: -1px -1px 0 #241d52, 1px -1px 0 #241d52, -1px 1px 0 #241d52,
    1px 1px 0 #241d52;
  font-size: smaller;
}

em {
  font-size: small;
}
